/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
!/log/.keep
/node_modules
/spec
/tmp
.DS_Store
*.swp
*~
/vendor/bundle
/vendor/cache
/public/assets
/public/uploads
/public/packs
/public/packs-test
/public/system
.env
.env.*
.rbenv-vars
.capistrano/metrics
/yarn-error.log
yarn-debug.log*
.yarn-integrity
