/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
!/log/.keep
/tmp
.DS_Store
*.swp
*~
/vendor/bundle
/vendor/cache
/public/uploads
/public/system
/public/assets
.env
.env.*
.rbenv-vars
.capistrano/metrics
