// Resumis - based on Yeti 3.3.2 from Bootswatch
// -----------------------------------------------------

.label {
	&-active {
		background-color: #77b300;
		color: #fefefe;
	}
	&-canceled {
		background-color: #cc0000;
		color: #fefefe;
	}
	&-occasional-movement,
	&-on-hold {
		background-color: #ff8800;
		color: #fefefe;
	}
}
