.navbar-default .navbar-brand {
    font-size: ceil($font-size-base * 1.8);
    font-weight: 300;
    transition: color 0.2s ease;

    &:hover, &:focus {
        color: $link-color;
    }
}

.navbar .navbar-nav {
    & > li {
        & > a {
            transition: all 0.2s ease;
            font-size: ceil($font-size-base * 0.9);
        }

        &.active > a, &.active > a:hover {
            font-weight: bold;
        }
    }

    .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.75);

        .avatar img {
            margin: 0 auto;
            box-shadow: rgba(0,0,0,0.1) 0 1px 3px;
        }

        .user-details {
            min-width: 340px;
            margin: 0 auto;
            margin-bottom: 15px;
            text-align: center;
        }
    }

    .hidden-xs {
        display: inline-block !important;
    }
}

.navbar-fixed-top {
    border-bottom: 1px solid $navbar-default-border;
    box-shadow: $gray-darker 0 1px 10px;
}

.navbar-title {
    float: left;
    font-size: 1.3em;
    padding: 7px 0;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 7px;

    white-space: nowrap;
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;

    &:before {
        content: ":";
        padding-right: 15px;
    }
}

@media screen and (max-width: 767px) {
    .navbar .navbar-nav .hidden-xs {
        display: none !important;
    }
    .navbar .navbar-nav .visible-xs {
        display: inline-block !important;
    }

    .navbar-title:before {
        display: none;
    }

    .navbar .navbar-toggle {
        border-color: transparent;
    }

    .navbar .navbar-toggle:focus,
    .navbar .navbar-toggle:hover {
        background-color: transparent;
    }

    .navbar-toggle .icon-bar {
        height: 3px;
    }
}
