// Resumis - based on Yeti 3.3.2 from Bootswatch
// -----------------------------------------------------

.nav-tiles {
    li > a {
        border-bottom: 1px solid $gray-dark;
        display: block;
        padding: 15px;
        font-size: ceil(($font-size-base * 1.1));
        text-align: left;
        transition: all 0.2s linear;

        &:hover, &:active, &.active, &:focus {
            background-color: $gray-dark;
        }
    }

    .dropdown > a {
        &:after {
            @include fa-icon();
            content: $fa-var-plus;
            padding-left: 10px;
            position: relative;
            top: 5px;
            float: right;
        }
    }

    .open > a {
        &:after {
            content: $fa-var-minus;
        }

        &, &:hover, &:active, &.active, &:focus {
            background-color: $gray-dark;
        }
    }

    li + li {
        margin-top: 0;
    }

    .dropdown-menu {
        background-color: #171717;
        border-right: none;
        box-shadow: none;
        position: static;
        font-size: 14px;
        float: none;
        width: 100%;

        li > a {
            padding-left: 30px;
            transition: all 0.2s linear;

            &:before {
                @include fa-icon();
                content: $fa-var-angle-right;
                padding-right: 10px;
            }
        }

        li:last-child {
            border-bottom: none;
        }
    }
}

.sidebar {
    background-color: $gray-darker;
    border-right: 1px solid $gray-dark;
    box-shadow: inset rgba(0,0,0,0.1) 1px 0 10px;
    text-align: center;
    padding: 15px 0;

    footer {
        padding-top: 15px;
        font-size: 11px;
    }
}

@media screen and (min-width: 768px) {
    .sidebar {
        position: fixed;
        left: 0;
        height: calc(100% - 130px);;
        overflow-y: scroll;
    }
}

@media screen and (min-width: 1199px) {
    .nav-tiles {
        .dropdown-menu {
            li > a {
                padding-left: 15px;
            }
        }
    }
}
