// Resumis - based on Yeti 3.3.2 from Bootswatch
// -----------------------------------------------------

@mixin reset-sidebar-layout() {
    // Override grid framework mixin position and padding
    position: fixed;
    padding-left: 0;
    padding-right: 0;
}

.nav-tiles {
    li > a {
        border-bottom: 1px solid $gray-dark;
        display: block;
        padding: 15px;
        font-size: ceil(($font-size-base * 1.1));
        text-align: left;
        transition: width 100ms linear, background-color 150ms linear;
        z-index: 1029;

        &:hover, &:active, &.active, &:focus {
            background-color: $gray-dark;
        }
    }

    .dropdown > a {
        &:after {
            @include fa-icon();
            content: $fa-var-plus;
            padding-left: 10px;
            position: relative;
            top: 5px;
            float: right;
        }
    }

    .open > a {
        &:after {
            content: $fa-var-minus;
        }

        &, &:hover, &:active, &.active, &:focus {
            background-color: $gray-dark;
        }
    }

    li + li {
        margin-top: 0;
    }

    .dropdown-menu {
        background-color: #171717;
        border-right: none;
        box-shadow: none;
        position: static;
        font-size: 14px;
        float: none;
        width: 100%;

        li > a {
            padding-left: 30px;
            transition: all 0.2s linear;

            &:before {
                @include fa-icon();
                content: $fa-var-angle-right;
                padding-right: 10px;
            }
        }

        li:last-child {
            border-bottom: none;
        }
    }
}

.sidebar {
    background-color: $gray-darker;
    border-right: 1px solid $gray-dark;
    box-shadow: inset rgba(0,0,0,0.1) 1px 0 10px, rgba(0,0,0,0.2) 3px 0 7px;
    height: calc(100% - #{$navbar-height}) !important;
    left: 0;
    text-align: center;
    overflow-y: scroll;
    padding: 0;
    padding-bottom: 70px;
    position: fixed;
    transition: width 200ms linear, font-size 100ms linear;
    z-index: 1029;

    .expanded-only {
        transition: width 200ms linear, font-size 100ms linear;
    }

    footer {
        padding-top: 15px;
        font-size: 11px;
    }
}

.sidebar-toggle {
    position: relative;
    float: left;
    margin-left: 15px;
    padding: 9px 10px;
    margin-top: 15.5px;
    margin-bottom: 15.5px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;

    &:focus,
    &:hover,
    &:active,
    &.active {
        outline: none;
        background-color: $gray-darker;
    }

    .icon-bar {
        background-color: #fff;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }

    .icon-bar + .icon-bar {
        margin-top: 4px;
    }
}

@media screen and (max-width: $screen-xs-max) {
    .sidebar {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;

        .collapsed-only {
            display: none;
        }
    }
}

@media screen and (min-width: $screen-sm-min) {
    .sidebar {
        &.collapse,
        &.collapsing {
            &:not(.in) {
                @include make-sm-column(1);
                @include reset-sidebar-layout();
                display: block;
                width: auto !important;
            }

            &.in {
                @include make-sm-column(3);
                @include reset-sidebar-layout();
            }

            .expanded-only {
                font-size: 0;
                width: 0;
                //display: none;
            }

            .open .expanded-only,
            &.in .expanded-only {
                width: auto;
                font-size: 1em;
                //display: inline-block;
            }

            .collapsed-only {
                font-size: 1em;
                width: auto;
            }

            &.in .collapsed-only {
                width: 0;
                font-size: 0;
                //display: none;
            }
        }
    }

    .sidebar-toggle {
        margin-left: 0;
        margin-right: 15px;
    }
}

@media screen and (min-width: $screen-md-min) {
}

@media screen and (min-width: $screen-lg-min) {
    .sidebar {
        &.collapse,
        &.collapsing {
            &.in {
                @include make-lg-column(2);
                @include reset-sidebar-layout();
            }
        }
    }

    .nav-tiles {
        .dropdown-menu {
            li > a {
                padding-left: 15px;
            }
        }
    }
}
