<div class="page-header">
  <%= page_title @skill_category.name %>
</div>

<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              skill_categories_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_skill_category_path(@skill_category), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              skill_category_path(@skill_category),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>