.user-menu {
  @apply block flex-initial overflow-visible;
}

.user-menu .user-menu-dropdown.shown {
  @apply flex flex-col bg-gray-900 absolute;
  top: 3.5rem;
  left: 0;
  right: 0;
}

.user-menu-dropdown .nav-link {
  @apply px-6 py-4 flex items-center w-full;
}

.user-menu-dropdown .nav-link:hover,
.user-menu-dropdown .nav-link:focus,
.user-menu-dropdown .nav-link:active {
  @apply bg-gray-800;
}

@screen sm {
  .user-menu {
    @apply relative;
  }

  .user-menu .user-menu-dropdown.shown {
    @apply absolute;
    top: 3.5rem;
    left: auto;
    right: -1.5rem;
  }

  .user-menu-dropdown .nav-link {
    @apply w-auto;
    min-width: 15rem;
  }
}
