<%- model_class = EducationExperience -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render @education_experiences %>

<%= link_to "New Education Experience", new_education_experience_path, :class => 'btn btn-primary' %>
