<div class="page-header">
  <%= page_title "Education Experiences" %>
</div>

<%= render @education_experiences %>

<%= link_to "New Education Experience", new_education_experience_path, :class => 'btn btn-primary' %>
