<%- model_class = EducationExperience -%>
<div class="page-header">
  <%= page_title @education_experience.school_name %>
</div>

<%= render @education_experience %>

<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              education_experiences_path, :class => 'btn btn-default'  %>
</div>