<% skills_by_cat.each_slice(3) do |slice| %>
  <div class="row">
    <% slice.each do |(skill_cat, skills)| %>
    <%# Nasty bit o' hack to get columns working under PDF %>
    <% if request.format == :pdf %>
    <div class="col-xs-4">
    <% else %>
    <div class="col-sm-4">
    <% end %>
      <h4><%= skill_cat.name %></h4>
      <ul>
        <% skills.each do |skill| %>
        <li><%= skill.name %></li>
        <% end %>
      </ul>
     </div>
    <% end %>
  </div>
<% end %>
