<% skills_by_cat.each_slice(3) do |slice| %>
  <div class="row">
    <% slice.each_with_index do |skill_cat, index| %>
    <div class="col-xs-4">
      <h4><%= skill_cat.name %></h4>
      <ul>
        <% skill_cat.skills.each do |skill| %>
        <li><%= skill.name %></li>
        <% end %>
      </ul>
     </div>
    <% end %>
  </div>
<% end %>
