<footer class="footer-page">
  <div class="container">
    <p>
      Copyright &copy; <%= current_tenant.copyright_range -%>
      <% unless user_signed_in? || !ResumisConfig.multi_tenant? %>
        &middot; <%= link_to "Login", new_user_session_url %>
      <% end %>
    </p>
  </div>
</footer>

<% if user_signed_in? and current_tenant != current_user %>
  <%= render :partial => 'shared/userbar' %>
<% else %>
<div class="pi">
  &pi;
  <span class="pi-hidden">
    Powered by <a href="https://github.com/maxfierke/resumis">Resumis</a>. A cool thing by <a href="https://www.maxfierke.com">Max Fierke</a>.
  </span>
</div>
<% end %>
