<div class="jumbotron jumbotron-about visible-sm visible-md visible-lg"
     style="background-image: url(<%= user.header_image_url %>);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-7">
                <h1>
                    <%= user.first_name %>
                    <strong class="highlight"><%= user.last_name %></strong>
                </h1>
                <% if user.tagline.present? %>
                <h2>
                    <%= user.tagline %>
                </h2>
                <% end %>
            </div>
            <div class="col-md-4 col-sm-5">
                <div class="panel panel-default panel-latest-project hidden">
                    <header class="panel-heading">
                        <span class="panel-title">Latest Project</span>
                    </header>
                    <div id="latest-project" class="panel-body">
                        <p class="project-title"><a href=""></a></p>
                        <hr />
                        <p class="project-shortdesc"></p>
                        <ul class="project-tags list-inline"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
