// Resumis - based on Yeti 3.3.2 from Bootswatch
// -----------------------------------------------------

.md-editor {
    .md-input {
        padding: 15px;
        line-height: 1.5;
        font-family: monospace;
        font-size: 1.1em;
    }
    .md-preview {
        padding: 10px;
    }
}
