// Resumis - based on Yeti 3.3.2 from Bootswatch
// -----------------------------------------------------

.md-editor {
    &.active {
        border-color: transparent;
    }

    & > .md-header, .md-footer {
        background-color: $panel-default-heading-bg;
    }

    .md-input {
        background-color: $input-bg;
        color: $input-color;
        padding: 15px;
        line-height: 1.5;
        font-family: monospace;
        font-size: 1.1em;
        min-height: 600px;
    }

    .md-preview {
        padding: 10px;
    }

    textarea {
        border: none;
    }
}

// HACK: rails-bootstrap-markdown is unmaintained and uses one
// FontAwesome 5.x incompatible icon
.fa-picture-o {
    @include fa-icon();

    &:before {
        content: fa-content($fa-var-image);
    }
}
