// Resumis - based on Yeti 3.3.2 from Bootswatch
// -----------------------------------------------------

.inline-block {
    display: inline-block;
}

a.link-danger {
    color: $brand-danger;

    &:hover, &:focus, &:active, &.active {
        color: darken($brand-danger, 10%);
    }
}

.project-link .fa {
    padding-right: 10px;
}
