// Resumis - based on Yeti 3.3.2 from Bootswatch
// -----------------------------------------------------

.nav-tiles {
    li > a {
        border-bottom: 1px solid $gray-dark;
        display: block;
        padding: 15px;
        text-align: left;
        transition: all 0.2s linear;

        &:hover, &:active, &.active, &:focus {
            background-color: $gray-dark;
        }
    }

    .open > a {
        &, &:hover, &:active, &.active, &:focus {
            background-color: $gray-dark;
        }
    }

    li + li {
        margin-top: 0;
    }

    .dropdown-menu {
        background-color: #171717;
        border-right: none;
        box-shadow: none;
        position: static;
        font-size: 14px;
        float: none;
        width: 100%;
        padding-left: 30px;
        transition: all 0.2s linear;

        li > a {
            transition: all 0.2s linear;

            &:before {
                @include fa-icon();
                content: $fa-var-angle-right;
                padding-right: 10px;
            }
        }
    }
}

.sidebar {
    background-color: $gray-darker;
    border-right: 1px solid $gray-dark;
    box-shadow: inset rgba(0,0,0,0.1) 1px 0 10px;
    text-align: center;
    padding: 15px 0;

    .avatar img {
        margin: 0 auto;
        box-shadow: rgba(0,0,0,0.1) 0 1px 3px;
    }

    .user-details {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    footer {
        padding-top: 15px;
        font-size: 11px;
    }
}

@media screen and (min-width: 768px) {
    .sidebar {
        position: fixed;
        left: 0;
        min-height: 100%;
        overflow-y: scroll;
    }
}
