<%- model_class = WorkExperience -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render @work_experiences %>

<%= link_to "New Work Experience", new_work_experience_path, :class => 'btn btn-primary' if user_signed_in? %>
