<div class="page-header">
  <%= page_title "Work Experiences" %>
</div>

<%= render @work_experiences %>

<%= link_to "New Work Experience", new_work_experience_path, :class => 'btn btn-primary' if user_signed_in? %>
