<div class="page-header">
  <%= page_title @project.name %>
</div>
<%= render @project %>

<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              projects_path, :class => 'btn btn-default' %>
</div>
