<div class="page-header">
  <%= page_title "Work Experiences" %>
</div>

<%= render partial: 'work_experiences/work_experience', collection: @work_experiences %>

<%= link_to new_manage_work_experience_path, :class => 'btn btn-primary' do %>
  <%= icon 'plus', 'New Work Experience' %>
<% end %>
