<div class="page-header">
  <h1>Boom! Resumis.</h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <h4>List of Sites</h4>
    <ul>
    <% @users.each do |u| %>
      <li><%= link_to (u.full_name ? u.full_name : u.subdomain), "#{request.protocol}#{tenant_instance_hostname(u)}/" %> - <%= tenant_instance_hostname(u) %></li>
    <% end %>
    </ul>
  </div>
  <div class="col-sm-6">
    <%= link_to new_user_session_path, class: "btn btn-lg btn-success" do %>
      Login to Resumis
    <% end %>
    <% if Devise.mappings[:user].registerable? %>
      <%= link_to new_user_registration_path, class: "btn btn-lg btn-primary" do %>
        Sign Up
      <% end %>
    <% end %>
    <hr />
    <div class="alert alert-warning">
      <strong>Wasn't expecting to see this?</strong>
      <p>
        Resumis is a multi-tenancy application, seperating different user's sites by subdomain, or if they prefer, domain name.
      </p>
      <p>
        As such, there is no site to be accessed here on the bare domain. If you prefer that the bare domain goes to a specific user's site, conduct such a redirect within your web server configuration.
      </p>
    </div>
  </div>
</div>
