<h1 class="text-danger">No tenant found for this subdomain / domain.</h1>
<p class="lead">
  If this is a new installation of Resumis, you'll want to create a user for yourself:

  <br /><br />

  <%= link_to new_user_registration_path, class: "btn btn-lg btn-success" do %>
    Jump in to Resumis!
  <% end %>
</p>
