@import "bootstrap-sprockets";
@import "bootswatch/yeti/variables";
@import "bootstrap";
@import "bootswatch/yeti/bootswatch";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-markdown";


// application imports
@import "project_statuses";

body {
    padding-top: $navbar-height;
}

.inline-block {
    display: inline-block;
}

/* BOOTSTRAP OVERRIDES */
.label {
    font-weight: normal;

    a {
        color: #fff;
    }
}

/* SITE SPECIFIC CLASSES */
.container .jumbotron {
    border-radius: 0;
}

.dropdown-contact {
    min-width: 540px;
}

.highlight {
    color: $link-color;
}

.footer-page {
    margin-top: 10px;
    background-color: lighten($body-bg, 13.5%);
    padding-top: 20px;
    padding-bottom: 10px;

    a {
        color: $link-color;
    }

    .list-inline {
        margin: 0;
        padding: 0;
    }
}

.img-about {
    margin-top: 20px;
    text-align: right;

    small {
        font-size: 10px;
    }
}

.list-group-item-social {
    a {
        color: $text-color;
    }
    .fa-fw {
        vertical-align: sub;
    }
}

.navbar-default .navbar-brand {
    font-size: 24px;
    font-weight: 300;
    transition: color 0.2s ease;

    &:hover, &:focus {
        color: $link-color;
    }
}

.navbar .navbar-nav {
    & > li {
        & > a {
            transition: all 0.2s ease;
        }

        &.active > a, &.active > a:hover {
            font-weight: bold;
        }
    }

    .hidden-xs {
        display: inline-block !important;
    }
}

.jumbotron-about {
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 15px;

    h1, h2, h3 {
        background-color: rgba(39,39,39, 0.9);
        border-color: #272727;
        border-radius: 3px;
        display: inline-block;
        padding: 7px;
        color: #fff;
    }

    h2 {
        font-size: 30px;
    }

    .project-title {
        font-size: 20px;
        margin-top: 0;
        word-wrap: break-word;
    }

    .project-shortdesc {
        font-size: 14px;
        color: $text-color;
    }
}

.panel-latest-project {
    margin-bottom: 0;
}

.panel-project,
.panel-education-experience,
.panel-work-experience {
    & > .panel-body {
        transition: background-color 0.5s linear;
    }

    & > .panel-heading {
        background-color: $panel-default-heading-bg;
        color: $panel-default-text;
    }

    .label {
        display: inline-block;
        margin-left: 5px;
    }
}

.project-img {
    margin-bottom: 1.2em;
}

.project-tags {
    margin-bottom: 0;
}

.row-profile {
    .thumbnail {
        margin: 40px 0 20px;
    }
}

.md-editor > textarea {
    padding: 15px;
    line-height: 1.5;
    font-family: monospace;
    font-size: 1.1em;
}


.userbar {
    background-color: #cc0000;
    font-size: 0.8em;
    padding: 5px 0;
    width: 100%;

    p {
        margin: 0;
        color: #fefefe;
    }

    a {
        color: #fefefe;
    }
}

.userbar-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 767px) {
    .navbar .navbar-nav .hidden-xs {
        display: none !important;
    }
    .navbar .navbar-nav .visible-xs {
        display: inline-block !important;
    }

    .navbar .navbar-toggle {
        border-color: transparent;
    }

    .navbar .navbar-toggle:focus,
    .navbar .navbar-toggle:hover {
        background-color: transparent;
    }

    .navbar-toggle .icon-bar {
        height: 3px;
    }

    .jumbotron-about {
        background-position: left center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .dl-tools dd {
        padding-left: 20px;
    }
}

@media screen and (min-width: 768px) {
    .jumbotron-about {
        padding: 20px !important;
    }
    .dl-tools {
        margin-bottom: 0;

        dt {
            width: auto;
        }
        dd {
            margin-left: 20px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .jumbotron-about h1 {
        font-size: 36px;
    }
    .jumbotron-about h2 {
        font-size: 20px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .jumbotron-about h1 {
        font-size: 42px;
    }
    .jumbotron-about h2 {
        font-size: 22px;
    }
}
