@import "bootstrap-sprockets";
@import "resumis/variables";
@import "bootstrap";
@import "resumis/bootstrap_overrides";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-markdown";

@import "resumis/components_manage";
@import "resumis/editor_overrides";
@import "resumis/misc";
@import "resumis/structure";

body {
    padding-top: $navbar-height;
}

.manage-container {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
    @include clearfix();
}

.manage-col-right {
    margin-top: 30px;
    margin-bottom: 70px;
}

@media screen and (min-width: $screen-sm-min) {
    .manage-col-right {
        padding-left: 75px
    }

    .sidebar.collapse.in + .manage-col-right {
        padding-left: calc(16.6666666667% + 15px);
    }
}

.navbar-default .navbar-brand {
  font-weight: bold;
}
