@import "bootstrap-sprockets";
$font-family-base:            "Lora", Georgia, "Times New Roman", Times, serif;
$font-size-base:              13px;
$font-size-h1:                floor(($font-size-base * 2.0));
$font-size-h2:                floor(($font-size-base * 1.7));
$font-size-h3:                ceil(($font-size-base * 1.4));
$font-size-h4:                ceil(($font-size-base * 1.1));
$panel-bg:                    transparent;
$panel-default-heading-bg:    transparent;
$panel-body-padding:          5px;
$panel-heading-padding:       2px 5px;
@import "bootstrap";
@import "resumis/components/panels";

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.date-range {
    font-size: $font-size-small;
}

.list-group-item {
    border: none;
}

.page-header {
    h1, h2, h3 {
        margin: 5px;
    }

    border-bottom: none;
    margin: 18px 0 12px;
    padding-bottom: 0;
}

.panel-default {
    border: none;
    box-shadow: none;
    margin-bottom: 5px;

    .panel-heading {
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
        background-color: #fefefe;
        border-radius: 0;
        padding: 2px 0;

        .panel-title {
            padding: 5px 0;
        }
    }

    .panel-footer {
        display: none;
    }
}

.panel-project > .list-group,
.panel-education-experience > .list-group,
.panel-work-experience > .list-group {
    font-size: $font-size-base;
    line-height: $line-height-computed;
}

.project-status.label {
    display: none;
}

.section-header {
    border-bottom: 1px solid #efefef;
    padding: 7px 0;
}

@media screen and (max-width: 767px) {
    .panel {
        .panel-left {
            float: left;
        }

        .panel-right {
            float: right;
        }
    }
}

@media print {
    .page-header {
        a[href]:after {
            content: none;
        }
    }
}
