// Place all the styles related to the ProjectStatuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label-active {
	background-color: #77b300;
	color: #fefefe;
}

.label-canceled {
	background-color: #cc0000;
	color: #fefefe;
}

.label-on-hold {
	background-color: #ff8800;
	color: #fefefe;
}
