@import "bootstrap-sprockets";
@import "bootswatch/yeti/variables";
@import "bootstrap";
@import "bootswatch/yeti/bootswatch";

.container {
    max-width: 960px;
}

.page-header {
    h1, h2,  h3 {
        line-height: 0.9;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 18px;
    }
}

.section-header {
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
}
