@import "bootstrap-sprockets";
@import "bootswatch/yeti/variables";
@import "bootstrap";
@import "bootswatch/yeti/bootswatch";

.container {
	max-width: 960px;
}

.section-header {
	padding: 15px 0;
	border-bottom: 1px solid #efefef;
}
