<% page_title "Editing #{@user.full_name}" %>
<div class="btn-toolbar">
  <div class="btn-group pull-right text-right">
    <% if @user.disabled_at %>
      <%= button_to "Enable", enable_manage_user_path(@user), {
        method: :patch,
        remote: false,
        form_class: 'inline-block',
        class: 'btn btn-warning',
        data: { confirm: "This will restore #{@user.full_name}'s ability to login and their content. Do you want to continue?" }
      } %>
    <% else %>
      <%= button_to "Disable", disable_manage_user_path(@user), {
        method: :patch,
        remote: false,
        form_class: 'inline-block',
        class: 'btn btn-danger',
        data: { confirm: "This will disable #{@user.full_name}'s account, revoke any OAuth tokens, and make all their content unavailable. Do you want to continue?" }
      } %>
    <% end %>
    <% if @user.locked_at %>
      <%= button_to "Unlock", unlock_manage_user_path(@user), {
        method: :patch,
        remote: false,
        form_class: 'inline-block',
        class: 'btn btn-warning',
        data: { confirm: "This will restore #{@user.full_name}'s ability to login. Do you want to continue?" }
      } %>
    <% end %>
  </div>
</div>
<%= render 'form' %>
