<div class="page-header">
  <%= page_title "Education Experiences" %>
</div>

<%= render partial: 'education_experiences/education_experience', collection: @education_experiences %>

<%= link_to new_manage_education_experience_path, :class => 'btn btn-primary' do %>
  <%= icon 'plus', 'New Education Experience' %>
<% end %>
