<div class="page-header">
  <%= page_title "#{@user.full_name}" %>
</div>

<%= render :partial => 'user_profile', :locals => { user: @user } %>

<% if @user.id == current_user.id %>
<div class="form-group">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_profile_path, :class => 'btn btn-default' %>
</div>
<% end %>
